//
//  Local
//  FirefoxPrivateNetworkVPN
//
//  This Source Code Form is subject to the terms of the Mozilla Public
//  License, v. 2.0. If a copy of the MPL was not distributed with this
//  file, You can obtain one at https://mozilla.org/MPL/2.0/.
//
//  Copyright © 2020 Mozilla Corporation.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Default values for Mozilla's development team.
VERSION_NAME = 0.0.20200327
VERSION_ID = 4
DEVELOPMENT_TEAM = 43AQ936H96
FIREFOX_VPN_BUNDLE_IDENTIFIER = org.mozilla.ios.FirefoxVPN
WIREGUARD_TUNNEL_BUNDLE_IDENTIFIER = $(FIREFOX_VPN_BUNDLE_IDENTIFIER).network-extension
FIREFOX_VPN_APP_GROUP = group.org.mozilla.ios.Guardian
FIREFOX_VPN_UI_TESTS_BUNDLE_IDENTIFIER = org.mozilla.FirefoxPrivateNetworkVPNUITests
FIREFOX_VPN_TESTS_BUNDLE_IDENTIFIER = org.mozilla.FirefoxPrivateNetworkVPNTests

// Override any of the above values with a local config file, if present.
#include? "FirefoxPrivateNetworkVPN-Local.xcconfig"
